@media (max-width: 1200px)
  .container,.reviews-slider
    max-width: 960px
  .hotel-slider
    width: 590px
  .hotel
    &-slider
      &__img
        height: 100%
        object-fit: cover // картинки в слайдере стали нормальными
  .card
    width: 230px
    height: 230px
  .footer
    &-wrapper
      grid-template-columns: minmax(205px, 247px) 247px 247px 247px
      grid-column-gap: 0
    &__information
      margin-left: 57px
@media (max-width: 992px )
  .container
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-bottom: 30px
      padding-top: 30px
    &__search
      margin-left: 47px
      margin-right: auto
    &-menu
      width: 673px
      margin: auto
      padding-top: 20px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      max-width: 340px
  .hotel
    padding-bottom: 57px
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
  .booking
    padding-right: 22px
    padding-left: 23px
    width: 340px
  .map
    &-wrap
      width: 340px
  .hotel-slider
    width: 100%
  .newsletter
    padding-top: 92px
    padding-bottom: 93px
    &-wrapper
      width: 700px
  // reviews
  .reviews
    padding-bottom: 60px
    &__title
      margin-bottom: 50px
      font-size: 30px
      line-height: 38px
    &-slider
      max-width: 699px
      &__item
        max-width: 579px
        max-height: 320px
        padding: 0 60px 30px 64px
      &__text
        padding: 0
      &__button
        top: 48%
  .activities
    padding-top: 40px
    padding-bottom: 50px
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 339px
    height: 255px
  //<-------------------- other packages блок -------------->
  .hotels
    grid-gap: 20px
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr))
    grid-template-rows: repeat(2, 430px)
  .hotels
    &-info
      padding: 18px 21px 20px 32px
    &-small
      grid-template-rows: 200px 1fr
      &__image
        height: 200px
    &__image
      &_big
        max-height: 430px
    &__text
      margin-bottom: 25px
    &__desciption
      &_big
        margin-bottom: 23px
  .footer
    padding-top: 67px
    &__title
      &-contacts
        margin-bottom: 28px
    &-wrapper
      grid-template-columns: 200px 1fr 202px
      grid-column-gap: 0
      grid-row-gap: 49px
    &__logo
      margin-top: 5px
      height: 111px
      width: 95px
      grid-row: 1 / 2
      &-img
        width: 100%
    &__social
      &-network
        margin-left: -15px
        margin-top: 20px
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2 / 3
      grid-column: 1 / 2
    &__contact
      &-details
        margin-top: 14px
        grid-row: 3
        grid-column: span 4
      &-form
        margin-top: -10px
        grid-column: span 3
        grid-row: 4
    &__form
      width: 539px
    &__information
      margin: 0
    &__icon
      &-wrapper
        min-width: 39px
  .disclaimer
    padding-top: 56px
  .modal
    &__dialog
      padding: 33px 50px 33px 50px
@media (max-width: 767px )
  body
    padding-top: 70px
  .container
    max-width: 576px
    width: 92%
  .navbar
    &__search ,&__user
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex

    &--modile
      &--fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 100
    &-bottom
      display: none
      position: fixed
      left: 0
      top: 70px
      right: 0
      bottom: 0
      padding-top: 28px
      &--visible
        display: block
        overflow-y: auto
    &-menu
      padding-top: 2px
      width: 100%
      flex-direction: column
      &__item
        &:not(:first-child)
          margin-bottom: 17px
        &:nth-child(2)
          margin-bottom: 38px
        &--mobile
          &--visible
            display: block
            margin-bottom: 25px
    &__user
      flex-direction: column
      justify-content: center
  .user
    &__avatar
      margin-right: 0
    &__name
      margin-top: 12px
      color: $ligth
      margin-right: 0
  .menu
    &-button
      height: 11px
      width: 16px
      padding: 0
      border: none
      display: flex
      align-items: center
      flex-direction: column
      justify-content: space-between
      cursor: pointer
      background-color: $ligth
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .stars
    flex-basis: auto
  .hotel
    padding-bottom: 40px
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__stars
        margin-right: 16px
      &__name
        margin-top: 10px
      &__text
        width: 100%
      &__offer
        order: -1
        margin-left: 0
      &__rating
        display: none
    &-right
      flex-direction: column
      min-height: 450px
    &-slider
      height: 350px
  .booking
    width: 100%
  .map
    &-wrap
      width: 100%
  .newsletter
    padding: 76px 0 83px 0
    &__title
      margin-bottom: 37px
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
  .subscribe
    width: 100%
    /////////////////
  .reviews
    padding-bottom: 50px
    padding-left: 10px
    padding-right: 10px
    &__title
      margin-bottom: 42px
      font-size: 18px
      line-height: 23px
    &-slider
      max-width: 699px
      &__item
        min-width: 281px
        max-height: 299px
        padding: 0 29px 36px 33px
        &::after, &::before
          display: none
      &__button
        top: 30px
        &--prev
          left: 50%
          transform: translate(-50%, 0)
          margin-left: -90px
        &--next
          right: 50%
          transform: translate(50%, 0)
          margin-right: -90px
  .card
    width: 48%
    height: 255px
  .hotels
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr))
    grid-gap: 15px
    &__text
      overflow-y: auto
      max-height: 150px
  .packages
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
  .disclaimer
    &__icons
      margin-left: 0
  .footer
    &__additional
      grid-column: 2 / 4
    &__information
      grid-row: 3
    &__contact
      &-details
        grid-row: 4
      &-form
        grid-row: 5
    &__disclaimer
      display: flex
      justify-content: space-between
  .modal
    &__dialog
      padding: 33px 30px 33px 30px
    &__button
      order: 1
    &__info
      margin-bottom: 10px
    &__message
      min-height: 100px
@media ( max-width: 660px )
  .hotels
    grid-template-columns: repeat( 1, 1fr)
    grid-template-rows: 515px
    grid-row-gap: 20px
    grid-column-gap: 0
    &-big
      grid-column-start: 1
      grid-template-columns: 1fr
      grid-template-rows: 200px 1fr
    &-small
      grid-template-rows: 270px 1fr
      &__image
        height: 270px
    &__image
      &_big
        max-height: inherit
      &-big
        background-position: center
        height: 200px
    &-info
      padding: 30px 21px 25px 28px
    &__title
      &_big
        margin-bottom: 10px
    &__text
      overflow-y: auto
      max-height: 70px
      margin-bottom: 12px
    &__desciption
      &_big
        margin-bottom: 8px
  .footer
    &-wrapper
      grid-template-columns: 1fr
      grid-row-gap: 31px
    &__title
      &_contacts
        margin-top: 22px
        margin-bottom: 15px
      &_inline
        margin-bottom: 20px
        margin-right: 0
      &_bt
        margin-top: 12px
    &__form
      width: 100%
    &__input
      &-group
        flex-basis: 100%
    &__button
      order: 1
    &__info
      flex-basis: 100%
      margin-bottom: 15px
    &__logo
      grid-column: 1
      grid-row: 1
    &__social
      &-network
        margin-top: 0
        margin-left: 0
        grid-column: 1
        grid-row: 2
        display: block
      &-links
        max-width: 83px
    &__additional
      grid-column: 1
      grid-row: 4
    &__categories
      grid-row: 5
      grid-column: 1
    &__legal
      grid-column: 1
      grid-row: 3
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
        margin-top: 0
      &-form
        grid-row: 7
        grid-column: 1
    &__icon
      &-wrapper
        min-width: 29px
    &__message
      margin-bottom: 15px
    &__disclaimer
      justify-content: space-between
  .disclaimer
    padding-top: 27px
    &__wrapper
      margin-bottom: 9px
    &__icons
      margin-left: 0
    &__link
      margin-right: 9px
      &:last-child
        margin-right: 0
  .modal
    &__dialog
      margin: auto
      width: 70%
@media ( max-width: 576px )
  .logo
    width: 99px
  .hotel
    &-slider
      height: 250px
      &__button
        width: 12px
        height: 12px
        background-size: 4px 7px
        margin-top: -6px
        &--prev
          margin-left: 9px
        &--next
          margin-right: 9px
    &__slider
      margin-bottom: 20px
  .newsletter
    &-title
      font-weight: 300
      font-size: 20px
      line-height: 25px
    &-wrapper
      max-width: 576px
      &__strong
        margin-top: 5px
        font-weight: 600
        font-size: 30px
        line-height: 38px
  .card
    width: 100%
  .subscribe
    &__input
      padding-left: 20px
  .footer
    &__disclaimer
      display: block
  label.invalid
    left: 3px
@media ( max-width: 400px )
  .container
    width: 280px
  .navbar
    &-top
      padding-top: 23px
      padding-bottom: 27px
      &__menu-button
        margin-top: 5px
  .hotel
    padding-top: 5px
    padding-bottom: 38px
    &-grid
      margin-top: 40px
    &-right
      min-height: 402px
    &__slider
      height: 179px
  .breadcrumb
    &-list
      padding-top: 21px
      padding-bottom: 14px
  .map
    &-wrap
      height: 172px
  .reviews
    padding-bottom: 50px
    &__title
      width: 245px
      margin: auto
      margin-bottom: 42px
      font-size: 18px
      line-height: 23px
    &-slider
      &__text
        text-align: left
      &__item
        max-height: 438px
  .newsletter
    &-wrapper
      max-width: 280px
    &-title
      font-size: 20px
      line-height: 25px
      &__strong
        font-size: 30px
        line-height: 38px
        margin-top: 5px
  .activities
    padding-top: 40px
    padding-bottom: 40px
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px
    &__card
      &:nth-child(3)
        margin-top: 10px
  .card
    width: 280px
  .packages
    &__title
      font-size: 20px
      line-height: 23px
  .footer
    &__title
      margin-bottom: 17px
      &_categories
        margin-bottom: 22px
      &_contacts
        margin-top: 13px
      &_bt
        margin-bottom: 22px
    &__form
      width: 280px
    &__logo
      width: 96px
      margin-top: -2px
    &__social
      &-network
        margin-top: 11px
    &__categories
      margin-top: -7px
    &__item
      &-mb
        margin-bottom: 21px
    &__icon
      &-wrapper
        min-width: 45px
        margin-left: 0px
        margin-top: 6px
  .disclaimer
    &__link
      margin-right: 9px
      &:last-child
        margin-right: 0
  .search
    &__input
      width: 245px
      padding-right: 70px
  .navbar
    &__search
      margin-left: 0
  .modal
    &__dialog
      width: 85%
    &__title
      font-size: 16px
    &__input
      padding: 12px 0 12px 15px
    &__message
      padding: 12px 0 12px 15px
      margin-bottom: 15px
  label.invalid
    &-modal
      left: 6px
@media (max-width: 330px)
  .reviews
    &-slider
      &__item
        height: 438px
        padding-right: 39px
        padding-left: 43px

@media screen and (max-height: 500px)
  .modal
    &__dialog
      overflow-y: auto
      max-height: 90%
      width: 80%
    &__input
      margin-bottom: 10px
