*
  box-sizing: border-box
body
<<<<<<< HEAD
  font-family: "Mulish", sans-serif
  color: $text-color
.container
  max-width: 1110px
  margin: auto
=======
  font-family: 'Mulish', sans-serif
>>>>>>> b386e3cef393d4d21aec5bd127c1dd985860ae24
