.hotel
  padding-top: 24px
  padding-bottom: 70px
  &-info
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 20px
    &__offer
      margin-top: 4px
      margin-left: 15px
    &__name
      margin-top: 4px
      margin-bottom: 0
    &__description
      margin: 0
  &-name
    text-transform: uppercase
    font-size: 24px
    line-height: 30px
  &-wrapper
    display: flex
    align-items: center
    flex-wrap: wrap
  &-description
    font-size: 12px
    line-height: 15px
  &-grid
    display: flex
    justify-content: space-between
  &-right

    display: flex
    flex-direction: column
    justify-content: space-between
.stars
  display: flex
  flex-basis: 100%
  &__elem
    margin-right: 2px

.offer
  font-size: 10px
  line-height: 13px
  color: $ligth
  padding: 4px 9px
  border-radius: 3px
  background-color: $primery
.rating
  max-width: 65px
  min-height: 45px
  text-align: center
  color: $ligth
  background-color: $primery
  border-radius: 4px
  &__text
    font-size: 8px
    line-height: 10px
  &__counter
    font-size: 14px
    line-height: 18px
  &__small
    font-size: 10px
.swiper
  &-container
    width: 100%
    height: 100%
    border-radius: 8px
    &:after
      z-index: 10
      content: ''
      width: 100%
      height: 100%
      position: absolute
      top: 0
      background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%)
  &-slide
    &__img
      width: 100%
      // Полюбому надо. Делает размеры слайдов нормальными

.slider
  width: 728px
  height: 450px
  position: relative
  &-button
    z-index: 99
    top: 50%
    margin-top: -13px
    width: 30px
    height: 30px
    position: absolute
    background-color: transparent
    background-position: center
    background-size: 10px
    background-repeat: no-repeat
    border: none
    &--prev
      background-image: url('../img/arrow-prev.svg')
      left: 0
      margin-left: 16px

    &--next
      background-image: url('../img/arrow-next.svg')

      right: 0
      margin-right: 18px
.booking
  font-family: "Nunito", sans-serif
  border-radius: 8px
  width: 350px
  min-height: 210px
  padding: 28px 29px 23px 26px
  background-color: $dark
  color: $ligth
  &-info
    display: flex
    justify-content: space-between
    margin-bottom: 9px
  &__price
    display: flex
    flex-direction: column
  &__start
    font-weight: normal
    font-size: 10px
    line-height: 14px
  &__pricetag
    font-style: normal
    font-weight: 800
    font-size: 24px
    line-height: 33px
    margin-bottom: -4px
  &__per-room
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 16px
  &__room
    margin-top: 4px
  &__text
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 8px
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 16px
  &__description
    margin-left: 9px
  &__call-center
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 17px
  &__heading
    font-style: normal
    font-weight: 600
    font-size: 18px
    line-height: 25px
  &__number
    display: flex
    justify-content: space-between
    align-items: center
    text-decoration: none
    color: inherit
    font-weight: 600
    font-size: 18px
    line-height: 25px
  &__num
    margin-left: 8px
  &__button
    color: inherit
    width: 100%
    min-height: 15px
    padding: 13px 0
    background: #EC1F46
    border-radius: 4px
    font-weight: 600
    font-size: 14px
    line-height: 19px
    border: none
.map
  background-color: #000
  width: 347px
  height: 213px
  border-radius: 10px
  overflow: hidden
